<!DOCTYPE html>
<html lang="pt-BR">

  <!-- Cabeçalho -->
  <head>

    <meta charset="utf-8">
    <title>Link.me | Sua árvore de links</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

  </head>

  <!-- Corpo -->
  <body>

    <div class="container">
      <h1>Monte sua página de <span>links</span> para indicar no <span>Instagram</span></h1>
      <div class="container__right">
        <p class="container__subtext">Registre-se ou faça login para editar a sua página</p>
        <div class="buttons-container">
          <a href="/signup" class="button button--cadastro">Registrar</a>
          <a href="/login" class="button button--login">Login</a>
        </div>
      </div>
    </div>

  </body>

</html>